@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(180deg, #01162E 0%, rgba(255, 255, 255, 0) 100%), #576B9D;
}

#fondo{
    position: absolute;
    width: 1510.32px;
    height: 1007px;
    left: -35px;
    top: 0px;
    opacity: 50%;
}

.header{
    height:5vw;
    width: 100vw;
    /* background: linear-gradient(180deg, #4192F0 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF; */
}

.header .menu .navbar{
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.header .menu .navbar li{
    list-style: none;
    margin-top: 20px;
    margin-left: 140px;
}
img{
    max-width: 120%;
    height: auto;
}

.hero .contenedor-carrusel{
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    position: relative;
}

.hero .contenedor-carrusel .slide-carrusel{
    display: flex;
    width: 100%;
}

#prevBtn{
    position: absolute;
    top: 75%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 75%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}